---
- name: Create firewall rule
  vr_firewall_rule:
    group: '{{ cloud_firewallrule_group_name }}'
    protocol: '{{ cloud_firewallrule_protocol }}'
    start_port: '{{ cloud_firewallrule_start_port }}'
    end_port: '{{ cloud_firewallrule_end_port }}'
    cidr: '{{ cloud_firewallrule_remote_cidr }}'
