#!/usr/bin/python
# -*- coding: utf-8 -*-
#
# (c) 2018, Ricardo Carrillo Cruz <ricarril@redhat.com>
# (c) 2018, Yanis Guenane <yguenane@redhat.com>
# GNU General Public License v3.0+ (see COPYING or https://www.gnu.org/licenses/gpl-3.0.txt)

---
- name: Create firewall rule
  os_security_group_rule:
    security_group: '{{ cloud_firewallrule_group_name }}'
    protocol: '{{ cloud_firewallrule_protocol }}'
    port_range_min: '{{ cloud_firewallrule_start_port }}'
    port_range_max: '{{ cloud_firewallrule_end_port }}'
    remote_ip_prefix: '{{ cloud_firewallrule_remote_cidr }}'
