---
- name: Manage firewall rule
  os_security_group_rule:
    security_group: '{{ cloud_firewallrule_group_name }}'
    protocol: '{{ cloud_firewallrule_protocol }}'
    port_range_min: '{{ cloud_firewallrule_start_port }}'
    port_range_max: '{{ cloud_firewallrule_end_port }}'
    remote_ip_prefix: '{{ cloud_firewallrule_remote_cidr }}'
    state: '{{ cloud_firewallrule_state|default("present") }}'
